<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{> title}}</title>
  <link rel="stylesheet" href="/static/styles/style.css">
  <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
</head>

<body>
  {{{body}}}

  <!-- jQuery library -->
  <script src="/static/js/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="/static/vendor/popper.js/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="/static/js/formValidation.js"></script>

</body>

</html>
