<h1>Hello World with handlebars!</h1>
<div>
  <label for="message">Message: </label>
  <input id="message"></input>
  <button id="submit">Send</button>
</div>
<br>
<p>There are <span id="no_online"></span> people online.</p>
<div class="chat-area" style="height:500px;border:1px solid black;">
</div>
{{> footerAssets }}
