<div class="appchat-container">
  <div class="appchat-sidebar">
    <h3>Side bar</h3>
    <div>logged user</div>
    <div>search bar</div>
    <div>Tab view inclues Chats and Contacts</div>
    {{> chatEntry }}
  </div>
  <div class="appchat-content">
    <h3>Main content</h3>
    {{> welcome}}
  </div>
</div>
